.btn{
    line-height: 30px;
    background-color: #00BFFF;
    height: 170px;
    width: 170px;
    border-radius: 10px;
    border: 1px outset lightblue;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
    margin: 0 auto;
    padding: 0;


}

